<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <div class="container">
        {% load crispy_forms_tags %}
        <h2>autentificacion</h2>
    
        <form action="" method="post">
            {% csrf_token %}
            
            {{ form | crispy }}
        
            <imput type="submit" value="login" class="btn btn-succes float-right"></imput>
        </form>
        <a href="{% url 'social:begin' 'facebook' %}">login  con facebook</a>
    </div>
</body>


</html>