
{% extends 'cori/base.html' %}

{% load static %}

{% block contenido %}

            <div class="container  ">
                <div class="row ">
                    <!-- Secciones -->
                    <div class="row">
                        
                        <br>
                        <br>
                        <!-- Sección 1 -->
                        <div class="row">
                            <div class="row_1"><img  src="{% static 'img/abarrotes.png' %}"  alt="abarrotes" ></div>
                            <div class="row_1">
                                <h3>Quienes Somos.</h3>
                                <p class="centrar">EnMiBarrio.cl nace de la idea de volver a reencontrarnos con nuestra comunidad, acercarnos a los negocios locales de nuestros propios barrios, generando un abundante comercio con nuestros vecinos y creando más oportunidades para crecer entre nosotros mismo. 
                                Por eso como grupo, hemos creado un sistema de localización de negocios populares para poder encontrar la gran variedad de productos en nuestras comunas brindando una alternativa a las grandes empresas.</p>
                            </div>
                        </div>
                        <br>
                        <!-- Sección 2 -->
                        <div class="row container-fluid ">
                            <div class="col-6">
                                <h3>Comercio.</h3>
                                <h5>¿Que puedes encontrar?</h5>
                                <p>Todo lo que necesites, podrás encontrar almacenes, panaderías, botillerías, verdulerías, bazares, ferreterías y mucho más.</p>
                                <h5>¿Tienes hambre y quieres comer un poco de sushi o un rico completo?</h6>
                                <p>Busca locales de comida al paso como sushi, sandwich, completos o cocinerías de comida china, peruana, venezolana, de todo tipo.</p>
                                <p>EnMiBarrio.cl podrás encontrar el local y servicio más cercano que se adecue a tus necesidades.</p>
                            </div>
                            <div class="col-6 center"><img src="{% static 'img/rest.png' %}" alt="rest"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
{% endblock %}            